{% extends "ProyectoWeb/base.html" %}

{% load static %}

{% block content %}

   <!-- Heading --> 
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoWeb/img/ancianos.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Intertua y socializa</span>
            <span class="section-heading-lower">En un espacio especificamente para ti</span>
          </h2>
          <p class="mb-3">de forma divertida y placentera
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Necesitamos de tu presencia</span>
                <span class="section-heading-lower">Garantiza tu recreacion</span>
                <span class="section-heading-lower">Con entorno de juegos iterativos y espacios perfectos para ti</span>
              </h2>
              
            </div>
          </div>
        </div>
      </div>
    </section>


    {% endblock %}

  